<?xml version="1.0"?>
<config>
    <modules>
        <Slatman_ImprovedOPC>
            <version>1.0.0</version>
        </Slatman_ImprovedOPC>
    </modules>
	<frontend>
		<layout>
	        <updates>
	            <improvedopc module="Slatman_ImprovedOPC">
	                <file>slatman_improvedopc.xml</file>
	            </improvedopc>
	        </updates>
	    </layout>
	</frontend>
</config>